*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif,sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #0F171E; 
    padding: 10px;
    
}
.todo-app{
   width: 100%;
   max-width: 540px;
   background: #19232D; 
   margin: 100px auto 20px;
   padding: 40px 30px 70px;
   border-radius: 10px; 
}
.todo-app h2{
    color: #F8F8F8; 
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left:10px;
    filter: invert(1); 
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #232D37 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #F8F8F8; 
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #FF9900; 
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    color: #F8F8F8;/
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    border: 2px solid #F8F8F8; 
}
ul li.checked{ 
    color: #7A8188; 
    text-decoration: line-through;
}
ul li.checked::before{ 
    background-image: url(checked.png);
    background-color: #FF9900; 
    border: 2px solid #FF9900; 
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #7A8188; 
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #232D37; 
}